<%- partial('_partial/head') %>

<body>
  <header class="inner"><%- partial('_partial/header') %></header>
  <div class="inner">
    <div class="main-col alignright"><div class="wrapper"><%- body %></div></div>
    <aside class="sidebar alignleft"><%- partial('_partial/sidebar') %></aside>
    <div class="clearfix"></div>
  </div>
  <footer class="inner footer"><%- partial('_partial/footer') %></footer>
  <%- partial('_partial/after_footer') %>
</body>
</html>
